{% extends "theme/base.html" %}
{% load staticfiles %}
{% load humanize %}


{% block header %}
    <!-- Header -->
    <div class="header">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default  navbar--bb-1px">
            <div class="container navbar-container">
                <!-- Brand/Logo -->
                <a class="navbar-brand" href="/home">
                    <img src="{% static STRINGS.wordmark_image %}" height="19" class="d-none d-lg-inline-block" alt="{{STRINGS.site_name}}">
                    <img src="{% static STRINGS.wordmark_image %}" height="19" class="d-lg-none" alt="{{STRINGS.site_name}}">
                </a>

                <div class="d-inline-block">
                    <!-- Navbar toggler  -->
                    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

                {% include "dashboard/_components/_dash_nav.html" %}

            </div>
        </nav>
    </div>
{% endblock header %}


{% block content %}

    <!-- SIDEBAR -->
    <section class="slice-sm sct-color-1">
        <div class="profile">
            <div class="container">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    {% if not hide_sidebar %}
                        <div class="col-lg-4">
                            {% include "dashboard/_components/_dash_sidebar.html" %}
                        </div>
                    {% endif %}

                    <div class="{% if hide_sidebar %}col-lg-12{% else %}col-lg-8{% endif %}">
                        <div class="main-content">

                            <!-- Page title -->
                            <div class="page-title">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        {% if cta %}
                                            <a href="{{cta.url}}" class="btn btn-base-1 btn-shadow btn-circle px-4 pull-right">{{cta.label}}</a>
                                        {% endif %}
                                        <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                            {% block page_title %}{{page_title}}{% endblock page_title %}
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            {% if not hide_link_bar %}
                                {% include "dashboard/_components/_dash_link_bar.html" %}
                            {% endif %}

                            {% block dashboard_section %}{% endblock dashboard_section %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
