{% load staticfiles %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | Inform</title>

    {% bootstrap_css %}

    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,700" rel="stylesheet" type="text/css">

    {% block styles %}{% endblock %}
    {% block external %}{% endblock %}

  </head>
  <body>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% bootstrap_messages %}
        {% block side_nav %}{% endblock %}
        <div class="content {% block content_width %}centered-form col-sm-12{% endblock %}">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <footer class="base-dash-footer">
    </footer>

    {% bootstrap_javascript jquery=1 %}

    {% block scripts %}{% endblock %}
    {% block javascript %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109576283-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109576283-1');
    </script>

  </body>
</html>