{% extends "marketing/base_marketing.html" %}
{% load staticfiles %}




{% block content %}


                    <section class="slice--offset sct-color-1" style="padding-top: 100px;">
                        <div class="container container-xs">
                            <div class="text-center">
                                <h3 class="heading heading-2 strong-400 text-normal">
                                    Terms of Use                                </h3>
                            </div>

                            <div class="block block-post">
                                <div class="block-body block-post-body">


<div class="module"><p class="sub-h1">PLEASE READ THESE TERMS OF USE (“AGREEMENT” OR “TERMS OF USE”) CAREFULLY BEFORE USING THE SERVICES OFFERED BY REDWOOD LABS, LLC (“COMPANY”).  THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE VARIOUS WEBSITES OWNED AND OPERATED BY COMPANY, INCLUDING, WITHOUT LIMITATION, THE {{STRINGS.site_url|upper}} WEBSITE AND DOMAIN NAME (“SITES”), AND ANY OTHER FEATURES, CONTENT, OR APPLICATIONS OFFERED FROM TIME TO TIME BY THE COMPANY IN CONNECTION THEREWITH (COLLECTIVELY “SERVICE”).  BY USING THE SITES OR SERVICE IN ANY MANNER, INCLUDING BUT NOT LIMITED TO VISITING OR BROWSING THE SITES, YOU AGREE TO BE BOUND BY THIS AGREEMENT.  THIS AGREEMENT APPLIES TO ALL USERS OF THE SITES OR SERVICE, INCLUDING USERS WHO ARE ALSO CONTRIBUTORS OF CONTENT, INFORMATION, AND OTHER MATERIALS OR SERVICES ON THE SITES.</p></div>

<div class="module"><h3>Acceptance of Terms.</h3><div class="info">

<p>The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (the “Terms of Use”) and all other operating rules, policies and procedures that may be published from time to time on the Sites by Company.  In addition, some services offered through the Service may be subject to additional terms and conditions promulgated by Company from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.  </p>

<p>The Service is available only to individuals who are at least 13 years old.  You represent and warrant that if you are an individual, you are at least 13 years old, you are of legal age to agree to these terms and conditions or you have your parents’ permission to do so, and that all registration information you submit is accurate and truthful.  Company may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time.  This provision is void where prohibited by law and the right to access the Service is revoked in such jurisdictions.</p>

</div></div><div class="module"><h3>Modification of Terms of Use.</h3><div class="info">

<p>Company reserves the right, at its sole discretion, to modify or replace any of the Terms of Use, or change, suspend, or discontinue the Service (including without limitation, the availability of any feature, database, or content) at any time by posting a notice on the Sites or by sending you an email.  Company may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability.  It is your responsibility to check the Terms of Use periodically for changes.  Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>

</div></div><div class="module"><h3>Privacy.</h3><div class="info">

<p>Company's current Sites privacy statement is located at {{STRINGS.site_url}}/privacy (the “Privacy Policy”) and is incorporated into these Terms of Use.  For inquiries in regard to the Privacy Policy, or to report a privacy-related problem, please contact {{STRINGS.contact_email}}</p>

</div></div><div class="module"><h3>Rules and Conduct.</h3><div class="info">

<p>As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use.  The Service (including, without limitation, any Content, or User Submissions (both as defined below)) is provided only for your own personal, non-commercial use.  You are responsible for all of your activity in connection with the Service.  For purposes of the Terms of Use, the term “Content” includes, without limitation, any advertisements, advice, suggestions, videos, audio clips, written forum comments, information, data, text, photographs, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible by Company or its partners on or through the Service. </p>

<p>By way of example, and not as a limitation, you shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any content on or through the Service, that:</p>

<ul class="terms">

<li>infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity;</li>

<li>is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another's privacy, tortious, obscene, offensive, or profane;</li>

<li>constitutes unauthorized or unsolicited advertising, junk or bulk e-mail ("spamming");</li>

<li>involves commercial activities and/or sales without Company’s prior written consent such as contests, sweepstakes, barter, advertising, or pyramid schemes;</li>

<li>contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of Company or any third party; or</li>

<li>impersonates any person or entity, including any employee or representative of Company.</li>

</ul>

<p>Additionally, you shall not: (i) take any action that imposes or may impose (as determined by Company in its sole discretion) an unreasonable or disproportionately large load on Company’s (or its third party providers’) infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures Company may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); (iv) run Maillist, Listserv, any form of auto-responder or “spam” on the Service; or (v) use manual or automated software, devices, or other processes to “crawl” or “spider” any page of the Sites.  </p>

<p>You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Service, or (iii) copy, rent, lease, distribute, or otherwise transfer any or all of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations.</p>

<p>Company reserves the right to remove any Content from the Sites or Service at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Company is concerned that you may have violated the Terms of Use), or for no reason at all.</p>

</div></div><div class="module"><h3>Registration.  </h3><div class="info">

<p>As a condition to using certain aspects of the Service, you will be required to register with Company and select a password and screen name (“Company User ID”). You shall provide Company with accurate, complete, and updated registration information.  Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your Company account.  You shall not (i) select or use as a Company User ID a name of another person with the intent to impersonate that person; (ii) use as a Company User ID a name subject to any rights of a person other than you without appropriate authorization; or (iii) use as a Company User ID a name that is otherwise offensive, vulgar or obscene. Company reserves the right to refuse registration of, or cancel a Company User ID in its sole discretion.  You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your Company password.  You shall never use another user’s account without such other user’s express permission.  You will immediately notify Company in writing of any unauthorized use of your account, or other account related security breach of which you are aware.</p>

</div></div><div class="module"><h3>Fees and Payment.</h3><div class="info">

<p>Company reserves the right to require payment of fees for certain features of the Service. Should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Sites in connection with such features. Company reserves the right to change its price list and to institute new charges at any time, upon ten (10) days prior notice to you, which may be sent by email or posted on the Sites. Use of the Service by you following such notification constitutes your acceptance of any new or increased charges.</p>

</div></div><div class="module"><h3>Third Party Sites.</h3><div class="info">

<p>The Service may permit you to link to other websites or resources on the Internet, and other websites or resources may contain links to the Sites.  When you access third party websites, you do so at your own risk.  These other websites are not under Company's control, and you acknowledge that Company is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites or resources.  The inclusion of any such link does not imply endorsement by Company or any association with its operators.  You further acknowledge and agree that Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such Content, goods or services available on or through any such website or resource.</p>

</div></div><div class="module"><h3>No Emergency Services.</h3><div class="info">

<p>You expressly agree and understand that the Service is not intended to support or carry emergency or time-critical calls or communications to any type of hospital, law enforcement agency, medical care unit or any other kind of emergency or time-critical service (“Emergency Services”).  Company, its affiliates or staff are in no way liable for such emergency calls or communications.  By agreeing to these Terms of Use you understand that additional arrangements must be made to access Emergency Services.  To access Emergency Services, you acknowledge and accept your responsibility to purchase, separately from the Service, traditional wireless or wireline telephone service and other means of communication intended for access to Emergency Services.  You recognize and agree that Company is not required to offer Emergency Services or access thereto pursuant to any applicable local and or national rules, regulation or law.  You further acknowledge that Company is not a replacement for your primary telephone service or any other means of communication.</p>

</div></div><div class="module"><h3>Company and Site Content.</h3><div class="info">

<p>You agree that the Service contains Content specifically provided by Company or its partners and that such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws.  You shall abide by all copyright notices, information, and restrictions contained in any Content accessed through the Service.  You shall not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, create derivative works from, or otherwise exploit any Content or third party submissions or other proprietary rights not owned by you, (i) without the consent of the respective owners or other valid right, and (ii) in any way that violates any third party right. </p>

<p>You may, to the extent the Sites expressly authorize you to do so, download or copy the Content, and other items displayed on the Sites for download, for personal use only, provided that you maintain all copyright and other notices contained in such Content.  You shall not store any significant portion of any Content in any form.  Copying or storing of any Content for other than personal, noncommercial use is expressly prohibited without prior written permission from Company, or from the copyright holder identified in such Content's copyright notice.  </p>

</div></div><div class="module"><h3>User Submissions.  </h3><div class="info">

<p>The Service may provide you with the ability to upload, submit, disclose, distribute or otherwise post (hereafter, “posting”) content, videos, audio clips, written forum comments, data, text, photographs, software, scripts, graphics, works of authorship or other information to the Services (“User Submissions”).  By posting User Submissions on or at any of the Sites or otherwise through the Service, you:</p>

<ul class="terms">
<li>By submitting the User Submissions to Company, or displaying, publishing, or otherwise posting any content on or through the Sites or the Service, you hereby do and shall grant Company a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the User Submissions in connection with the Sites, the Service and Company’s (and its successors and assigns) business, including without limitation for promoting and redistributing part or all of the Sites (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third party websites). You also hereby do and shall grant each user of the Sites and/or the Service a non-exclusive license to access your User Submissions through the Sites and the Service, and to use, modify, reproduce, distribute, prepare derivative works of, display and perform such User Submissions as permitted through the functionality of the Sites and the Service and under these Terms of Use. For clarity, the foregoing license grant to Company does not affect your other ownership or license rights in your User Submission(s), including the right to grant additional licenses to the material in your User Submission(s), unless otherwise agreed in writing;</li>

<li>represent and warrant that you own or otherwise control all rights to such User Submissions and that disclosure and use of such User Submissions by Company (including without limitation, publishing content on or at the Sites) will not infringe or violate the rights of any third party; and</li>

<li>understand that Company shall have the right to reformat, excerpt, or translate any materials, content or information submitted by you; and that all information publicly posted or privately transmitted through the Sites is the sole responsibility of the person from which such content originated and that Company will not be liable for any errors or omissions in any content; and that Company cannot guarantee the identity of any other users with whom you may interact in the course of using the Service. </li>
</li>
</ul>
<p>Company does not endorse and has no control over any User Submission.  Company cannot guarantee the authenticity of any data which users may provide about themselves.  You acknowledge that all Content accessed by you using the Service is at your own risk and you will be solely responsible for any damage or loss to any party resulting therefrom. </p>

<p>Company has no obligation to monitor the Site, Service, Content, or User Submissions.  Company may remove any User Submission at any time for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such User Submission), or for no reason at all.</p>

<p>Under no circumstances will Company be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred in connection with use of or exposure to any Content posted, emailed, accessed, transmitted or otherwise made available via the Service.  </p>

</div></div><div class="module"><h3>Termination.</h3><div class="info">

<p>Company may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your membership.  If you wish to terminate your account, you may do so by following the instructions on the Sites.  Any fees paid hereunder are non-refundable.  All provisions of the Terms of Use which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

</div></div><div class="module"><h3>Warranty Disclaimer.</h3><div class="info">

<p>Company has no special relationship with or fiduciary duty to you. You acknowledge that Company has no control over, and no duty to take any action regarding: which users gains access to the Website; what Content you access via the Website; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Company from all liability for you having acquired or not acquired Content through the Sites. The Sites may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. Company makes no representations concerning any content contained in or accessed through the Sites, and Company will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Sites.</p>

<p>THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) IS PROVIDED "AS IS" AND "AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.  COMPANY, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; © ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS.  YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK.  </p>

<p>SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

<p>ELECTRONIC COMMUNICATIONS PRIVACY ACT NOTICE (18USC 2701-2711): COMPANY MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITES OR ANY WEBSITE LINKED TO THE SITES. Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on Company’s equipment, transmitted over networks accessed by the Sites, or otherwise connected with your use of the Service.</p>

</div></div><div class="module"><h3>Indemnification.</h3><div class="info">

<p>You shall  defend, indemnify, and hold harmless Company, its affiliates and each of its, and its affiliates  employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or relate to (i) your use or misuse of, or access to, the Sites, Service, Content or otherwise from your User Submissions, (ii) your violation of the Terms of Use, or (iii) infringement by you, or any third party using the your account, of any intellectual property or other right of any person or entity.  Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Company in asserting any available defenses.</p>

</div></div><div class="module"><h3>General Content Disclaimer.</h3><div class="info">

<p>The Content provided by or through the Service is for entertainment purposes only, and should not be relied upon.  Company makes no representations or warranties concerning the appropriateness, accuracy, reliability, usefulness, completeness, or timeliness of such Content.  No Content is intended to substitute for personal advice from a qualified professional.  When applicable, always seek the advice of a qualified professional, and never disregard professional advice or delay in seeking it because of any Content.   </p>

<p>By using the Service, you agree that Company shall not be responsible for (1) any Content, (2) any person’s reliance on any such Content, whether or not correct, current and complete, or (3) the consequences of any action that you or any other person takes or fails to take based on any Content or otherwise as a result of your use of the Service.  </p>

</div></div><div class="module"><h3>Limitation of Liability.</h3><div class="info">

<p>IN NO EVENT SHALL COMPANY, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR YOUR RELIANCE ON THE SERVICE OR (IV) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00).  SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.  </p>

</div></div><div class="module"><h3>International/Non-California Use.</h3><div class="info">

<p>Company makes no representation that the Content is appropriate or available for use in locations outside of California, and accessing the Service is prohibited from territories where such Content is illegal.  If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.</p>

</div></div><div class="module"><h3>Dispute Resolution.</h3><div class="info">

<p>A printed version of the Terms of Use and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.  You and Company agree that any cause of action arising out of or related to the Service must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.</p>

<p>The Terms of Use shall be governed by and construed in accordance with the laws of the State of California, excluding its conflicts of law rules, and the United States of America.  Any dispute arising from or relating to the subject matter of this Agreement shall be finally settled by arbitration in San Francisco County, California, using the English language in accordance with the Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with the Arbitration Rules and Procedures of JAMS. The prevailing party in the arbitration shall be entitled to receive reimbursement of its reasonable expenses (including reasonable attorneys' fees, expert witness fees and all other expenses) incurred in connection therewith.  Judgment upon the award so rendered may be entered in a court having jurisdiction or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be.  Notwithstanding the foregoing, each party shall have the right to institute an action in a court of proper jurisdiction for injunctive or other equitable relief pending a final decision by the arbitrator.  For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the United States Federal Courts located in the Northern District of California. Use of the Service is not authorized in any jurisdiction that does not give effect to all provisions of the Terms of Use, including without limitation, this section.</p>

</div></div><div class="module"><h3>Integration and Severability.</h3><div class="info">

<p>The Terms of Use are the entire agreement between you and Company with respect to the Service and use of the Sites, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and Company with respect to the Sites.  If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable.  The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. </p>

</div></div><div class="module"><h3>Miscellaneous.</h3><div class="info">

<p>Company shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Company’s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation (including "line-noise" interference).  The Terms of Use are personal to you, and are not assignable, transferable or sublicensable by you except with Company's prior written consent.  Company may assign, transfer or delegate any of its rights and obligations hereunder without consent.  No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use and neither party has any authority of any kind to bind the other in any respect.  In any action or proceeding to enforce rights under the Terms of Use, the prevailing party will be entitled to recover costs and attorneys' fees.  All notices under the Terms of Use will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.</p>

</div></div><div class="module"><h3>Copyright and Trademark Notices.</h3><div class="info">

<p>Unless otherwise indicated, the Terms of Use and all Content provided by Company are copyright © 2019 Redwood Labs, LLC.  All rights reserved.</p>

<p>The names of actual companies and products mentioned at the Sites may be the trademarks of their respective owners.</p>

</div></div><div class="module"><h3>Digital Millennium Copyright Act Notice.  </h3><div class="info">

<p>Company has adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act (http://lcweb.loc.gov/copyright/legislation/dmca.pdf).  The address of Company’s Designated Agent to Receive Notification of Claimed Infringement (“Designated Agent”) is listed at the end of this policy.</p>

<p>It is Company’s policy to (1) block access to or remove Content that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users; and (2) remove and discontinue service to repeat offenders.  </p>

</div></div><div class="module"><h3>A.  Procedure for Reporting Copyright Infringements:</h3><div class="info">

<p>If you believe that Content residing on or accessible through the Company web site or service infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent listed below:</p>

<p>1.  A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;</p>

<p>2.  Identification of works or materials being infringed;</p>

<p>3.  Identification of the Content that is claimed to be infringing including information regarding the location of the Content that the copyright owner seeks to have removed, with sufficient detail so that Company is capable of finding and verifying its existence;</p>

<p>4.  Contact information about the notifier including address, telephone number and, if available, e-mail address;</p>

<p>5.  A statement that the notifier has a good faith belief that the Content is not authorized by the copyright owner, its agent, or the law; and </p>

<p>6.  A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner. </p>

<p>B. Once Proper Bona Fide Infringement Notification is Received by the Designated Agent:</p>

</div></div><div class="module"><h3>It is Company’s policy:</h3><div class="info">

<p>1.  to remove or disable access to the infringing Content;</p>

<p>2.  to notify the Content provider, member or user that it has removed or disabled access to the Content; and</p>

<p>3.   that repeat offenders will have the infringing Content removed from the system and that Company will terminate such content provider’s, member’s or user’s access to the service.</p>

</div></div><div class="module"><h3>C.  Procedure to Supply a Counter-Notice to the Designated Agent:</h3><div class="info">

<p>If the Content provider, member or user believes that the Content that was removed or to which access was disabled is either not infringing, or the Content provider, member or user believes that it has the right to post and use such Content from the copyright owner, the copyright owner’s agent, or pursuant to the law, the content provider, member or user must send a counter-notice containing the following information to the Designated Agent listed below:</p>

<p>1.  A physical or electronic signature of the Content provider, member or user;</p>

<p>2.  Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled;</p>

<p>3.  A statement that the Content provider, member or user has a good faith belief that the Content was removed or disabled as a result of mistake or a misidentification of the Content; and</p>

<p>4.  Content provider’s, member’s or user’s name, address, telephone number, and, if available, e-mail address and a statement that such person or entity consents to the jurisdiction of the Federal Court for the judicial district in which the content provider’s, member’s or user’s address is located, or if the Content provider’s, member’s or user’s address is located outside the United States, for any judicial district in which Company is located, and that such person or entity will accept service of process from the person who provided notification of the alleged infringement.</p>

<p>If a counter-notice is received by the Designated Agent, Company’s may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days.  Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at Company’s discretion.</p>

<p>Please contact Company’s Designated Agent to Receive Notification of Claimed Infringement at the following address:</p>

<p>Designated Agent to Receive Notification of Claimed Infringement:  </p>

<p>{{STRINGS.contact_email}}</p>

</div></div><div class="module"><h3>Contact.</h3><div class="info">

<p>You may contact Company at the following address:</p>

<p>{{STRINGS.contact_email}}</p>

<p>Effective Date: March 15, 2019</p></div>


                                </div>
                            </div>
                        </div>
                    </section>


{% endblock content %}

