{% extends "theme/base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block styles %}
<style type="text/css">
  .checkbox label::before {
    display: none;
  }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 1;
  }
</style>
{% endblock styles %}

{% block header_bar %}{% endblock header_bar %}

{% block content %}

    {% get_providers as socialaccount_providers %}

    <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url({{STRINGS.background_image}}); background-position: bottom center;">
        <div class="container">
            <div class="row justify-content-center cols-xs-space">
                <div class="col-lg-6">
                    <div class="form-card form-card--style-2 z-depth-2-top">
                        <div class="form-header text-center">
                            <div class="form-header-icon">
                                <i class="icon ion-log-in"></i>
                            </div>
                        </div>

                        <div class="form-body">

                            <div class="text-center px-2">
                                <h4 class="heading heading-4 strong-400">{% trans "Sign In" %}</h4>
                            </div>

                            {% bootstrap_messages %}

                            {% if socialaccount_providers %}

                                <div class="socialaccount_ballot">

                                    <ul class="socialaccount_providers">
                                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                    </ul>

                                </div>

                                {% include "socialaccount/snippets/login_extra.html" %}

                            {% else %}

                                <div class="text-center px-2">
                                  <p class=" mb-4"><small>{% blocktrans %}If you don't have an account, please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</small></p>
                                </div>

                                <form class="login form-default" method="POST" action="{% url 'account_login' %}">
                                  {% csrf_token %}
                                  {% bootstrap_form form %}
                                  {% if redirect_field_value %}
                                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                  {% endif %}
                                  <div class="mt-1 ">
                                    <small class="">By signing up, you agree to the <a href="{% url 'terms_page' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy_page' %}" target="_blank">Privacy Policy</a></small>
                                  </div>
                                  {% buttons %}
                                    <button type="submit" class="btn btn-styled btn-base-1 mt-4">{% trans "Sign In" %} &raquo;</button>
                                  {% endbuttons %}
                                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                </form>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
